/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --title-font: Tektur;
  --paragraph-font: Inter, Lato, Roboto;
  --background-color: rgb(100, 180, 194);
  --text-color: rgb(52, 167, 187);
}

/*Body Style*/
body {
  background-color: rgb(240, 240, 240);
  margin: 0;
  border-radius: 0;
  border-width: 0;
  font-family: var(--paragraph-font);
}

#wrapper{
  margin: 0;
}

#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.siteName {
  margin: 1.5rem 0 1.5rem 0.5rem;
  font-family: var(--title-font);
}
.siteName a {
  grid-column: 1/2;
  font-size: 2rem;
  text-decoration: none;
  text-align: left;
  color: black;
}

#tools {
  grid-column: 2/3;
  text-align: right;
  margin: 1rem 0.5rem 1rem 0;
  font-family: var(--title-font);
}

#tools a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: var(--background-color);
  width: 100%;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-around;
  width: 100%;
}

nav ul li a{
  display: inline-block;
  padding: .75rem 2vw;
  color: black;
  text-decoration: none;
  text-align: center;
}

nav ul li a:hover {
  text-decoration: underline wavy rgb(221, 221, 221) 1px;
  font-weight: bold;
}

h1 {
  margin-left: 0.5rem;
  font-family: var(--title-font);
}

.hero {
  position: relative;
  max-width: 100%;
  margin: 2rem 0;
}

.hero img {
  width: 80%;
  display: block;
  border-radius: 5px;
  justify-self: center;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1rem;
  max-width: 200px;
  border-radius: 5px;
}

.hero-text h2 {
  color: var(--text-color);
  margin: 0 0 0.5rem 0;
  font-family: var(--title-font);
}

.hero-text p {
  color: var(--text-color);
  margin: 0;
  line-height: 1.4;
}

.buttons {
  background-color: var(--background-color);
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.review h2 {
  margin: 1rem 0 1rem 0.5rem;
  font-family: var(--title-font);
}

.review li {
  padding: 0.8rem;
}

.upgrades .display-fig {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8rem;
  max-width: 300px;
  margin: 0 0 0 1rem;
}

.upgrades h2 {
  margin: 1rem 0 1rem 0.5rem;
  font-family: var(--title-font);
}

.upgrades img {
  padding: 1rem;
  background-color: var(--background-color);
  border: solid gray 2px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

.upgrades figure {
  text-align: center;
  margin: 0;
}

.upgrades figcaption {
  text-decoration: underline;
  white-space: nowrap;
}

footer {
  margin: 1rem;
}

/* Vehicles classification style */
#inv-display {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  list-style: none;
  justify-content: center;
  gap: 50px;
}

#inv-display li {
  width: 201px;
  height: 250px;
  border: dashed black 1px;
  border-radius: 8px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#inv-display li img {
  border-radius: 8px;
  object-fit: contain;
  max-width: 100%;
}

.namePrice {
  text-align: center;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.namePrice hr {
  width: 100%;
  border: 1px solid gray;
  margin-top: 0;
  margin-bottom: 10px;
  position:absolute;
  top: 0;
  left: 0;
}

.namePrice h2 {
  margin: 5px;
  font-size: 1rem;
}

.namePrice h2 a{
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--title-font);
}

.namePrice span {
  font-size: 0.9rem;
  font-family: var(--paragraph-font);
}

@media (min-width: 600px) {
  body {
    background-image: url(/images/site/small_check.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: repeat-y;
  }

  #wrapper {
    background-color: white;
    width: 70vw;
    height: 100%;
    margin: 3rem auto;
    border: solid var(--background-color) 5px;
    border-radius: 5px;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-items: center;
    margin: 0;
  }

  .review {
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
  }
}