<h1><%= title %></h1>
<p><%- message %></p>
<p>So sorry, but today is not your lucky day =/ </p>
<p>Here is a cookie to cheer you up</p>
<img src="/images/site/cookie.jpg" alt="sweet cookie" width="200px">